@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    --accent: #999;
    --primary: #fefeff;
    --secondary: #eee;

    margin: 0 auto;
    padding: 0 2rem;
    height: 100vh;
    color: var(--accent);
    background-color: var(--primary);
    transition: background .2s linear;
}

body.dark {
    --primary: #222;
    color: var(--accent);
    --secondary: #111;
}

header {
    display: flex;
    padding: 0 1rem;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--accent);
}

.logo{
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    padding-right: 1rem;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    text-align: center;
    color: var(--accent);
}
ul a {
    padding: 0;
    color: #777;
    display: flex;
    align-items: center;
    font-weight: 200;
    opacity: .5;
    transition: all .2s linear;
}

 .color-customization-btn img {
    transform: scale(.65);
 }

ul a:hover {
    opacity: 1;
}

footer ul a img {
    padding-right: .3rem;
}

.nav-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav img {
    width: 35px;
    margin-top: .5rem;
    opacity: .5;
    transition: all .15s linear;
}

.main-nav img:hover {
    opacity: 1;
}

.main-nav a {
    padding: .5rem;
}


.toggle-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    transform: scale(.4);

}

.label-container {
    border: 2px solid #999;
    border-radius: 40px;
    padding: .4rem;
}

.box {
    opacity: 0;
}

.ball {
    z-index: 2;
    border-radius: 50px;
    width: 33px;
    height: 33px;
    background-color: white;
    transition: transform .2s ease-in-out;
}

/* .box:checked + .label .ball {
    transform: translate(48px);
} */

.label {
    position: relative;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    width: 89px;
    border-radius: 26px;
    padding: .3rem;
    z-index: 1;
    background-color: var(--accent);
    cursor: pointer;    
}

.dark .label {
    background-color: var(--secondary);
}

.fas.fa-moon {
    position: absolute;
    left: 10px;
    color: yellow;
}
.fas.fa-sun {
    position: absolute;
    right: 10px;
    color: orange;
}

.container {
    max-width: 1000px;
    
}
.main-container{
    margin: 0;
    flex-grow: 1;
}
.flex-grow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-container {
    border: 3px solid rgb(165, 165, 165);
    border-radius: 7px;
    margin: 1rem;
    margin-top: 2rem;
    display: none;
}

.keyboard-container.active {
    display: block;
}

.keyboard {
    padding: .5rem;
    display: grid;
}
.row {
    display: flex;
}
.fn-row {
    display: grid;
    grid-template-columns: 4fr 4fr repeat(4, 4fr) 2fr repeat(4, 4fr) 2fr repeat(5, 4fr);
    margin-bottom: .4rem;
}
.row-1 {
    display: grid;
    grid-template-columns: repeat(13, 4fr) 8fr 4fr;
}
.row-2 {
    display: grid;
    grid-template-columns:6fr repeat(12, 4fr) 6fr 4fr;
}
.row-3 {
    display: grid;
    grid-template-columns: 7fr repeat(11, 4fr) 9fr 4fr;
}
.row-4 {
    display: grid;
    grid-template-columns: 9fr repeat(10, 4fr) 7fr 4fr 4fr;
}
.row-5                                               {
    display: grid;
    grid-template-columns: repeat(3, 5fr) 25fr 5fr 5fr 2fr repeat(3, 4fr)
    /* grid-template-columns: repeat(3, 4.5fr) 20fr repeat(2, 4.5fr); */
}

.sixty > .row-1 {
    display: grid;
    grid-template-columns: repeat(13, 4fr) 8fr;
}
.sixty > .row-2 {
    display: grid;
    grid-template-columns:6fr repeat(12, 4fr) 6fr;
}
.sixty > .row-3 {
    display: grid;
    grid-template-columns: 7fr repeat(11, 4fr) 9fr;
}
.sixty > .row-4 {
    display: grid;
    grid-template-columns: 9fr repeat(10, 4fr) 11fr;
}
.sixty > .row-5                                               {
    display: grid;
    grid-template-columns: repeat(3, 5fr) 25fr repeat(4, 5fr);
}
.key {
    height: 56px;
    border: 1px solid var(--secondary);
    border-color: #555;
    border-radius: 2px;
    padding: .4rem;
    text-align: center;
    margin: .1rem;
    background: var(--primary);
    font-weight: bold;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    user-select: none;
    transition: background .2s linear;
}

.sixty .key {
    height: 55px;
    padding-left: .7rem;
    padding-right: .7rem;
}
.dark .key {
    background: var(--primary);
    border-color: #fff;
}

.key.alphabet, .key.fn {
    padding: 2px .05rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.key.upper {
    font-weight: 800;
    font-size: 1.2rem;
}
/* crucial  */
.key.home, .key.pgdn, .key.pgup, .key.end {
    font-size: .8rem;
}

.key.esc > span, .key.del > span, .upper span {
    font-size: .8rem;
    padding-top: 6px;
}

.home > span, .pgdn > span, .pgup > span, .end > span {
    font-size: .8rem;
    /* padding-top: .1rem; */
    padding-top: 0rem;
}


.key.esc, .key.del {
    padding: 2px .05rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.key.dual-fn {
    padding:  2px 0;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: flex-start;
}

.one > span, .two > span, .three > span, .four > span, .five > span, .six > span, 
.sev > span, .eight > span, .nine > span,.zero > span, .minus > span, .equal > span,
.semi > span, .quote > span, .comma > span, .per > span, .slash > span {
    padding-left: .6rem;
}

.two span, .nine span, .zero span {
    font-size: .9rem;
    padding-top: .1rem;
    font-weight: 800;
}

.six span, .eight span {
    margin-top: .1rem;
    font-size: 1.6rem;
}

.comma span, .per span {
    font-size: 1.2rem;
    margin-top: .2rem;
}

.minus span {
    margin-top: -.5rem;
    padding-top: .1rem;
}

.key.backslash {
    position: relative;
}

.key.backslash::before{
    content: '';
    position: absolute;
    background-color: var(--accent);
    width: 2px;
    height: 14px;
    top: 6px;
    left: 50px;
}

.key.backslash::after{
    content: '';
    position: absolute;
    background-color: var(--accent);
    width: 2px;
    height: 14px;
    top: 6px;
    left: 30px;
    transform: rotate(-20deg);
}

.key.backslash span{
    font-size: .9rem;
    padding-top: .1rem;
    padding-left: 1rem;
}

.key.backquote{
    font-size: 1.7rem;
}

.key.backquote span{
    margin-top: -.5rem;
    padding-left: 12px;
}

.key.active {
    background-color: var(--secondary);
}

.dark .key.active {
    background-color: var(--secondary);
}

.space-key {
    align-items: top;
}
.space-key .space-content {
    width: 14%;
    height: 1px;
    border-top: 4px solid var(--accent);
    border-radius: 10px;
    margin-top: .7rem;
    
}

.key.backspace {
    position: relative;
}

.backspace::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 24px;
    height: 7px;
    width: 7px;
 
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid var(--accent);;
    border-bottom: 8px solid transparent;
}

.backspace::after {
    content: '';
    position: absolute;
    top: 16px;
    left: 40px;
    height:3px;
    width: 35px;
    background-color: var(--accent);

}

.key.windows img {
    height: 1rem;
    margin-top: .2rem;
}

.key.arrow-up, .key.arrow-down, .key.arrow-right, .key.arrow-left {
    position: relative;
}

.key.arrow-up::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 6px;
    border-bottom: 7px solid var(--accent);
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.key.arrow-up::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 11px;
    width: 4px;
    height: 7px;
    background-color: var(--accent);
}

.key.arrow-down::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 6px;
    border-bottom: 7px solid transparent;
    border-top: 7px solid var(--accent);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.key.arrow-down::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 11px;
    width: 4px;
    height: 7px;
    background-color: var(--accent);
}

.key.arrow-left::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0px;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid var(--accent);
}
.key.arrow-left::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 13px;
    width: 7px;
    height: 4px;
    background-color: var(--accent);
}
.key.arrow-right::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 13px;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid var(--accent);;
    border-right: 7px solid transparent;
}
.key.arrow-right::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 7px;
    width: 7px;
    height: 4px;
    background-color: var(--accent);
}

.key.enter {
    position: relative;
}
.key.enter div {
    position: absolute;
    top: 9px;
    right: 45px;
    width: 5px;
    height: 5px;
    background-color: var(--accent);

}
.key.enter::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 80px;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid var(--accent);


}
.key.enter::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 35px;
    top: 13px;
    right: 45px;
    background-color: var(--accent);

}

.about-info {
    font-weight: 400;
    display: none;
    font-family: 'Roboto Mono', monospace;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.about-info.active {
    display: block;
}

.title {
    color: var(--accent);
    opacity: .5;
    font-weight: 400;
}
.text-title {
    color: var(--accent);
    opacity: .5;
    margin-bottom: 0;
}
.text {
    margin-top: 0;
    color: var(--accent)
}

.text span {
    padding: 2px 6px 0;
    margin: 0 5px;
    border-radius: 5px;
    background-color: var(--secondary);
    font-size: .8rem;
    margin: 0 10px;
}

footer {
    margin: 1rem 0 1.5rem;
    padding: 0;
    width: 100%;
}

.modal-con{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: var(--secondary);
    overflow: hidden;
    display: none;

}

.modal-con.active {
    display: block;
}

.modal {
    width: 84%;
    height: 90%;
    position: fixed;
    top: 5%;
    right: 8%;
    background: var(--primary);
    border-radius: 15px;
    z-index: 11;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none
}
.modal::-webkit-scrollbar { width: 0 ! important }

.modal header > h2{
    text-align: center;
    width: 100%;
}
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modal-content .keyboard-container {
    transform: scale(.5);
    height: min-content;
    flex: 0 0 auto;
    display: inline-block;
    margin: 0;
    transition: all 30ms linear;
    top: 3px;
} 

.modal-content .keyboard-container:hover {
    transform: scale(.55);
}

@media screen and (max-width: 600px) {
    .modal-content .keyboard-container {
        transform: scale(.32)
    }
    .modal-content .keyboard-container:hover {
        transform: scale(.34);
    }
}

.color-customization {
    display: none;
    justify-content: space-between;
    width: 100%;
}
.color-customization.active {
    display: flex;
}
.customization-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.customization-container:not(:last-of-type){
    margin-right: 2rem;
}
.rgb-speed-container {
    display: flex;
    
}
.btn {
    text-align: center;
    font-family: 'Roboto Mono';
    padding: .5rem 2rem;
    margin: .3rem .3rem;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: var(--secondary);
    transition: all .2s linear;
    user-select: none;
}

.btn.sub {
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding: .2rem .5rem;
    font-size: .9rem;
}

.btn:hover, .rgb-btn:focus {
    /* background-color: var(--accent);
    color: #111; */
    border-color: var(--accent);
}

.rgb-btn.on, .key.on {
    animation-name: rgb-cycle;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.rgb-fast {
    animation-duration: 4s !important;
    /* background-color: pink; */
}
.rgb-med {
    animation-duration: 10s !important;
    /* background-color: yellow; */
}
.rgb-slow {
    animation-duration: 20s !important;
    /* background-color: lightblue; */
}

@keyframes rgb-cycle {
    0% {
        border-color: red;
        color: red;
    }
    14% {
        border-color: rgb(219, 28, 203);
        color: rgb(219, 28, 203);
    }
    28% {
        border-color: rgb(119, 19, 177);
        color: rgb(119, 19, 177);
    }
    43% {
        border-color: rgb(0, 68, 255);
        color: rgb(0, 68, 255);
    }
    57% {
        border-color: cyan;
        color: cyan;
    }
    71% {
        border-color: rgb(17, 212, 17);
        color: rgb(17, 212, 17);
    }
    86% {
        border-color: rgb(255, 196, 0);
        color: rgb(255, 196, 0);
    }
    100% {
        border-color: rgb(255, 17, 0);
        color: rgb(255, 17, 0);
    }
}

@keyframes rgb-background-cycle {
    0% {
        
        background-color: red;
    }
    14% {
        background-color: rgb(219, 28, 203);
    }
    28% {
        background-color: rgb(119, 19, 177);
    }
    43% {
        background-color: rgb(15, 63, 196);
    }
    57% {
        background-color: cyan;
    }
    71% {
        background-color: rgb(17, 212, 17);
    }
    86% {
        background-color: rgb(255, 196, 0);
    }
    100% {
        background-color: rgb(255, 17, 0);
    }
}

/* color picker */
.color-picker-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.selected-con {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 5px;
    overflow: hidden;
    margin-top: .4rem;
}
.color-text {
    text-align: center;
    font-family: 'Roboto Mono';
    padding: .2rem 0;
    width: 100%;
    text-align: center;
    font-weight: 500;    
    background-color: var(--secondary);
}
.selected {
    text-align: center;
    font-family: 'Roboto Mono';
    height: 100%;
    width: 30%;
    font-weight: 500;
    background-color: var(--accent);
    /* transition: all .1s linear; */
    user-select: none;
}

#color-picker {
    margin-top: .3rem;
    border: 2px solid var(--accent);
    border-radius: 4px;
    cursor: pointer;
}

.color-info {
    width: 12em;
    display: flex;
    margin-left: 4em;
    justify-content: space-between;
}

